    /*outer of registration form */

    .register-outer {
        min-height: 100vh;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px 0;
        position: relative;
        }
    
        /*outer of login form */
    
        .login-outer {
        min-height: 100vh;
        max-width: 450px;
        margin: 0 auto;
        padding: 20px 0;
        position: relative;
        }
    
        /* for form inner styling*/
    
         .form-inner {
         border-radius: 5px;
        padding: 40px 30px;
        background: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
        width: 100%;
        color: #fff;
        }
    
    
        /* Background Image */    
        .background{
            background-image:  url('image/qw.jpg');
            background-size:cover;
            background-attachment:fixed;
        }
        
        
        /*For Logo*/
     
        .logo {
        font-size: 2em;
        font-weight: 500;
        }
    
        /* For input*/
    
        .input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #eee;
        padding: 5px 0;
        color: #212121;
        font-weight: normal;
        }
    
        /*for lable*/
        .label{
            font-weight: 500;
        }
    
         /*Button*/    
        .btn {
        color: #fff;
        background-color: #00695c;
        border-color: #00695c;
        font-weight: 900;
        }
    
       .btn:hover {
        color: #fff;
        background-color: #004d40;
        border-color: #004d40;
        }
    
    
        /*forgot password */
    
        .forgot-password {
        font-size: 1.1875em;
        color: #4db6ac;
        }
    
        a.forgot-password:hover{
         color: #009688;
        text-decoration: none;
        }
    
    
        /*register link */
    
        .reg {
        font-size: 1.1875em;
        color: #4db6ac;
        }
    
        a.reg:hover{
         color: #009688;
    
        }
    
    
        /* developed by*/    
    
        .developedBy {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        color: #90a4ae;
        }